In [15]:
import numpy as np
import pandas as pd

In [21]:
a = np.array([[np.random.randint(1, 100) for i in range(4)] for i in range(4)])
a

array([[89, 21, 20, 76],
       [37,  6, 18, 80],
       [52, 15, 56, 13],
       [86, 31,  2, 86]])

In [22]:
df = pd.DataFrame(a, columns=['one', 'two', 'three', 'four'])
df

   one  two  three  four
0   89   21     20    76
1   37    6     18    80
2   52   15     56    13
3   86   31      2    86

In [39]:
max_index = np.argmax(df['four'])

In [40]:
max_index

3